<form>

    <div class="mb-3">
        <label class="form-label">FirsName</label>
        <input type="text" class="form-control" name="FirstName" id="FirstName">

    </div>
    <div class="mb-3">
        <label class="form-label">lastName</label>
        <input type="text" class="form-control" name="LastName" id="LastName">

    </div>
    <div class="mb-3">
        <label class="form-label">Adress</label>
        <input type="text" class="form-control" name="Address" id="Address">

    </div>
    <button type="submit" class="btn btn-primary" onclick="Update();" id="ADD">Submit</button>
</form>